---
import Layout from "../layouts/Layout.astro"
import larry_profile from "../../public/larry_profile.jpg"
import connor_profile from "../../public/connor_profile.jpg"
import logo_white from "../../public/wm_logo_white.png"
---

<Layout title="WM Design | About Us">
    <main class="flex flex-col items-center flex-grow">
        <section class="flex flex-col items-center justify-center pt-20 pb-10 px-5">
            <div class="flex flex-col items-center text-center mb-20">
                <b class="text-6xl opacity-0 animate-[fadeHover_0.4s_ease-in-out_0.2s_forwards]">
                    GET TO
                </b>
                <b class="text-6xl opacity-0 animate-[fadeHover_0.4s_ease-in-out_0.4s_forwards]">
                    KNOW US
                </b>
                <i class="text-xl mt-6 opacity-0 animate-[fadeHover_0.4s_ease-in-out_0.8s_forwards]">
                    We don&apos;t bite
                </i>
            </div>
            <div class="flex justify-center items-center flex-wrap text-center gap-x-10 gap-y-5 mb-16">
                <img
                    class="rounded-full"
                    src={larry_profile.src}
                    alt="Larry profile photo"
                    width={280}
                    height={280}
                />
                <div class="max-w-[350px] flex flex-col items-center gap-2 p-4 border-4 border-white rounded-lg">
                    <img 
                        width={30} 
                        src={logo_white.src} 
                        alt="WM Logo" 
                    />
                    <span 
                        class="text-2xl font-bold"
                    >
                        Larry Bain
                    </span>
                    <i 
                        class="text-xl"
                    >
                        Lead Designer and Developer
                    </i>
                    <span>
                        After earning a Bachelor&apos;s degree in Computer
                        Science from The University of Queensland in 2023,
                        Larry has thoroughly enjoyed his career in the tech
                        industry.
                    </span>
                    <span>
                        His primary passion lies in web development, and he
                        consistently seeks inspiration to expand his design
                        skills.
                    </span>
                    <img 
                        width={30} 
                        src={logo_white.src} 
                        alt="WM Logo" 
                    />
                </div>
            </div>
            <div 
                class="flex justify-center items-center flex-wrap-reverse text-center gap-x-10 gap-y-5"
            >
                <div 
                    class="max-w-[350px] flex flex-col items-center gap-2 p-4 border-4 border-white rounded-lg"
                >
                    <img 
                        width={30} 
                        src={logo_white.src} 
                        alt="WM Logo" 
                    />
                    <span 
                        class="text-2xl font-bold"
                    >
                        Connor Johanson
                    </span>
                    <i 
                        class="text-xl"
                    >
                        Head of Marketing
                    </i>
                    <span>
                        In his pursuit of a dual degree in Business and IT,
                        Connor not only delves into the intricacies of
                        technology and management but also demonstrates a
                        natural flair for entrepreneurship.
                    </span>
                    <span>
                        With an unwavering commitment to excellence, Connor
                        approaches his studies with a keen eye for
                        innovative solutions and a passion for crafting
                        superior products tailored to meet the unique needs
                        of his clients.
                    </span>
                    <img 
                        width={30} 
                        src={logo_white.src} 
                        alt="WM Logo" 
                    />
                </div>
                <img
                    class="rounded-full"
                    src={connor_profile.src}
                    alt="Connor profile photo"
                    width={280}
                    height={280}
                />
            </div>
        </section>
    </main>
</Layout>
