---
import Layout from '../layouts/Layout.astro';
import dino from '../../public/dino.gif'
import cursors from "../../public/cursors.gif"
import logo_white from "../../public/wm_logo_white.png"
import logo_black from "../../public/wm_logo_black.png"
import SlideCard from '../components/SlideCard.astro';
---

<Layout title="WM Design | Home">
	<main>
        <section class="h-fit flex flex-col items-center justify-center mt-16 mb-24 text-center overflow-hidden">
            <h2 class="text-3xl font-bold opacity-0 animate-[fadeHover_0.4s_ease-in-out_forwards] mb-1 tracking-wider">
                WELCOME TO
            </h2>
            <h1 class="text-6xl w-11/12 font-extrabold opacity-0 animate-[fadeHover_0.4s_ease-in-out_0.4s_forwards] mb-4">
                WM DESIGN
            </h1>
            <h3 class="hidden md:block text-center tracking-wide">
                <div class="pt-2 text-2xl opacity-0 animate-[fadeHover_0.5s_ease-in-out_0.8s_forwards]">
                    A boutique web design agency
                </div>
                <div class="text-2xl opacity-0 animate-[fadeHover_0.5s_ease-in-out_0.9s_forwards]">
                    dedicated to advancing businesses
                </div>
                <div class="text-2xl opacity-0 animate-[fadeHover_0.5s_ease-in-out_1s_forwards]">
                    in the modern era.
                </div>
            </h3>
            <h3 class="md:hidden w-3/4 text-center text-2xl opacity-0 animate-[fadeHover_0.5s_ease-in-out_0.8s_forwards] tracking-normal">
                A boutique web design agency dedicated to advancing businesses in the modern era.
            </h3>
            <div class="w-11/12">
                <div class="marquee mt-14 border-t-2 border-b-2 opacity-0 animate-[fadeIn_0.4s_1.4s_ease-out_forwards]">
                    <ul>
                        <li>
                            <img 
                                src={logo_white.src} 
                                alt="WM Logo"
                            >
                        </li>
                        <li>
                            <span>CUSTOM WEBSITES</span>
                        </li>
                        <li>
                            <img 
                                src={logo_white.src} 
                                alt="WM Logo"
                            >
                        </li>
                        <li>
                            <span>RESPONSIVE LAYOUTS</span>
                        </li>
                        <li>
                            <img 
                                src={logo_white.src} 
                                alt="WM Logo"
                            >
                        </li>
                        <li>
                            <span>INTUITIVE NAVIGATION</span>
                        </li>
                        <li>
                            <img 
                                src={logo_white.src} 
                                alt="WM Logo"
                            >
                        </li>
                        <li>
                            <span>SEO INTEGRATION</span>
                        </li>
                        <li>
                            <img 
                                src={logo_white.src} 
                                alt="WM Logo"
                            >
                        </li>
                        <li>
                            <span>E-COMMERCE SOLUTIONS</span>
                        </li>
                    </ul>
    
                    <ul aria-hidden="true">
                        <li>
                            <img 
                                src={logo_white.src} 
                                alt="WM Logo"
                            >
                        </li>
                        <li>
                            <span>CUSTOM WEBSITES</span>
                        </li>
                        <li>
                            <img 
                                src={logo_white.src} 
                                alt="WM Logo"
                            >
                        </li>
                        <li>
                            <span>RESPONSIVE LAYOUTS</span>
                        </li>
                        <li>
                            <img 
                                src={logo_white.src} 
                                alt="WM Logo"
                            >
                        </li>
                        <li>
                            <span>INTUITIVE NAVIGATION</span>
                        </li>
                        <li>
                            <img 
                                src={logo_white.src} 
                                alt="WM Logo"
                            >
                        </li>
                        <li>
                            <span>SEO INTEGRATION</span>
                        </li>
                        <li>
                            <img 
                                src={logo_white.src} 
                                alt="WM Logo"
                            >
                        </li>
                        <li>
                            <span>E-COMMERCE SOLUTIONS</span>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="w-11/12 mt-14 flex gap-4 flex-wrap justify-center">
                <div class="relative max-w-[500px] group hide w-full rounded-lg transition duration-1000 ease-out text-black grid place-items-center group overflow-hidden">
                    <img
                        src={cursors.src} 
                        alt="Cursors animation"
                        class="gif rounded-lg"
                    >
                    <div class="absolute w-full h-full opacity-0 group-hover:opacity-100 transition duration-200 backdrop-blur-lg grid place-items-center"></div>
                    <p class="absolute font-bold text-3xl px-10 text-center opacity-0 group-hover:opacity-100 transition ease-in-out duration-200 delay-50 scale-125 group-hover:scale-100">
                        GENERATE CLICKS
                    </p>
                </div>
                
                <SlideCard 
                    front_text='Find out how we can boost your business'
                    back_text='Check out our services'
                    link='/services'
                    theme='black'
                />
                <div class="relative max-w-[500px] group hide w-full rounded-lg transition duration-1000 ease-out text-black grid place-items-center group overflow-hidden">
                    <img
                        src={dino.src} 
                        alt="Dinosour running"
                        class="gif rounded-lg"
                    >
                    <div class="absolute w-full h-full opacity-0 group-hover:opacity-100 transition duration-200 backdrop-blur-lg grid place-items-center"></div>
                    <p class="absolute font-bold text-3xl px-10 text-center opacity-0 group-hover:opacity-100 transition ease-in-out duration-200 delay-50 scale-125 group-hover:scale-100">
                        WEBSITES THAT WORK
                    </p>
                </div>
                <SlideCard
                    front_text='Making websites for today and tomorrow'
                    back_text="Check out the work we've done so far"
                    link="/clients"
                    theme="white"
                />
            </div>
        </section>
	</main>
</Layout>

<script is:inline defer>
    window.onbeforeunload = function () {
        window.scrollTo(0, 0);
    }

    function setObserver() {
        let thresholds = [];
        for (let i = 0; i <= 10; i++) {
            thresholds.push(i / 10)
        }
        let options = {
            threshold: thresholds,
        }

        const observer = new IntersectionObserver((entries) => {
            entries.forEach((entry) => {
                console.log(entry.target)
                let ratio = Math.round(entry.intersectionRatio * 10) / 10;

                if (entry.boundingClientRect.top > 0) {
                    entry.target.classList.remove("width-60")
                    entry.target.classList.remove("width-70")
                    entry.target.classList.remove("width-80")
                    entry.target.classList.remove("width-90")
                    entry.target.classList.remove("width-100")

                    if (ratio >= 0 && ratio < 0.5) {
                        entry.target.classList.add("width-60")
                    }
                    else if (ratio >= 0.5 && ratio < 0.6) {
                        entry.target.classList.add("width-70")
                    }
                    else if (ratio >= 0.6 && ratio < 0.7) {
                        entry.target.classList.add("width-80")
                    }
                    else if (ratio >= 0.7 && ratio < 0.8) {
                        entry.target.classList.add("width-90")
                    }
                    else if (ratio >= 0.8 && ratio <= 1) {
                        entry.target.classList.add("width-100")
                    }
                }
            });
        }, options);

        const icons = document.querySelectorAll(".hide");
        console.log(icons)
        icons.forEach((icon) => observer.observe(icon));
    }
    
    setObserver();
</script>

<style>
    .marquee {
        width: 11/12;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: .05rem;
        padding-block: 8px;
        border-block: 1px block;
        overflow: hidden;
        user-select: none;

        --gap: 20px;
        display: flex;
        gap: var(--gap);
    }
    .marquee ul {
        list-style: none;
        flex-shrink: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--gap);

        animation: scroll 20s linear infinite;
    }

    .marquee:hover ul {
        animation-play-state: paused;
    }

    @keyframes scroll {
        to {
            transform: translateX(calc(-100% - var(--gap)));
        }
    }

    .marquee img {
        width: 20px;
    }
    .gif {
        width: 100%;
    }
    .hide {
        transform: scale(0.75);
    }
    .width-100 {
        transform: scale(1);
    }
    .width-90 {
        transform: scale(0.95);
    }
    .width-80 {
        transform: scale(0.9);
    }
    .width-70 {
        transform: scale(0.85);
    }
    .width-60 {
        transform: scale(0.8);
    }
</style>